<form action="#">
  <table>
    <tr>
      <td><label for="username">Username: </label></td>
      <td><input id="username" value="Automoderator"/></td>
    </tr>
    <tr>
      <td><label for="count">Comments: </label></td>
      <td><input id="count" value="99"/></td>
    </tr>
  </table>
  <button onclick="getComments()">TEST</button>
</form>

<section id="content"></section>


